PORT=
NODE_ENV=

#security configuration
JWT_SECRET=your_jwt_secret_here
JWT_EXPIRES_IN=12h
BCRYPT_SALT_ROUNDS=12
OTP_SECRET=your_otp_secret_here

# Client Configuration
CLIENT_URL=http://localhost:8080
PRODUCTION_CLIENT_URL=http://localhost:8080

# mail service configuration
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=22amtics312@gmail.com
SMTP_PASS=moqd sefa ruhf asqx

#database configuration
DB_NAME=eventifydb
DB_USER=postgres
DB_PASSWORD=abcd
DB_HOST=localhost
DB_PORT=5432


